body 
    {
        margin: 0;
        padding: 0;
    }
 .content
 {
     height: auto;
     width: 675px;
     background-color: blue;
     color: white;
     margin: 10px;
 }
 
 .content1
 {
     height: auto;
     width: auto;
     margin:0px 0px 25px 25px;
     float:right;
 }
